/* Box Model Hack */
* {
     box-sizing: border-box;
}


:root {
     --main-color: #3498db;
     --secondary-color: #ffffff;
     --font-size: 16px;
     --font-family: Arial, sans-serif;
   }
   
   body {
     margin: 0;
     font-size: var(--font-size);
     font-family: var(--font-family);
   }

   section h1 {
     font-size: 1.5rem;
     /* padding-bottom: 60px !important;
     padding-left: 30px !important;
     padding-right: 30px !important; */
   }

  

   #locationinputstyle {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 30px;
    align-items: center;
   
    justify-content: center;
   }

   #city {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: calc(100% / 3 - 20px);
    height: 75px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 34%;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 1000px;
    padding: 10px;
   
    
   }



   .top-container {
     

     display: flex;
     flex-wrap:wrap;
     flex-flow: row nowrap;
     justify-content:space-evenly;
     align-items: center;
     flex-direction: row;
     border-bottom:  solid var(--main-color);
   }

   .top-section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     height: 10px;
     width: 10rem;
     
     background-color: var(--secondary-color);
     
     padding: 50px 20px 50px 20px;
     box-sizing: border-box;

   }
   .weather-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
   }
   
   .weather-component {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: calc(100% / 3 - 20px);
     height: 150px;
     margin-bottom: 20px;
     background-color: var(--secondary-color);
     border: 1px solid var(--main-color);
     border-radius: 10px;
     padding: 10px;
     box-sizing: border-box;
   }
   
   .weather-title , h1 , h2{
     margin: 0;
     color: var(--main-color);
     font-size: 1.2em;
     font-weight: bold;
   }
   
   .weather-data {
     margin: 10px;
     color: var(--main-color);
     font-size: 1.5em;
     font-weight: bold;
     
     
     
   }

   h3{
    text-decoration: underline;
   }

    a , a:visited {
    text-decoration: none;
    color: #3498db;
   }
   
   
    a:hover{
    color: #FEF6C2;
   }

   span{
    text-decoration: none;
    color: #3498db;
   }
   

   footer {
    
    
    background-color:#ffffff;
    
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: solid  #3498db;
    font-size: .75rem;
    }
   
   
   @media screen and (min-width :1200px) {

    section h1{
      font-size: 1.8rem !important;
    }
    
   }